@import url(https://db.onlinewebfonts.com/c/8f2a9d487bbbc60974cd132fc3a63862?family=Aeonik+Regular);

* {
    font-family: "Aeonik Regular", sans-serif;
    scroll-behavior: smooth;
}

.hero-page {
    aspect-ratio: 16/9;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image {
    background-image: url(assets/images/wave.svg);
}

.process-section {
    aspect-ratio: 16/4;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.process-image {
    background-image: url(assets/images/layered-waves-haikei.svg);
}

.cta-section {
    aspect-ratio: 6/1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cta-image {
    background-image: url(assets/images/blob-scene-haikei.svg);
}
